#include <dt-bindings/zmk/matrix_transform.h>
/ {
    chosen {
        zmk,kscan = &kscan_composite;
        zmk,matrix_transform = &default_transform;
    };
    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <4>;
        columns = <1>;
        matrix {
            kscan = <&matrix_kscan>;
            row-offset = <0>;
            column-offset = <0>;
        };
        direct {
            kscan = <&direct_kscan>;
            row-offset = <3>;
            column-offset = <0>;
        };
    };
    matrix_kscan: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        label = "matrix_kscan";
        diode-direction = "col2row";
        row-gpios
            = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
              <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios
            = <&gpio1 6 GPIO_ACTIVE_HIGH>;
    };
    direct_kscan: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        label = "direct_kscan";
        input-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <1>;
        map = <
            RC(0,0) RC(1,0) RC(2,0) RC(3,0)
        >;
    };
    encoder: encoder {
        compatible = "alps,ec11";
        label = "ENCODER";
        a-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        steps = <24>;
        status = "okay";
    };
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};